<!DOCTYPE html>
<html lang = "en">
<head>
  <title>my page</title> 
</head>
<body>
<h1> Welcome to my page</h1>
<p> insert words here</p>
<p> Hello <%= locals.userName ?? New User %> </p>
</body>
</html>