<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Document</title>
</head>
<body>
    <h1>Welcome to my word of the day</h1>
    <p> Every time you visit the page there will be a word</p>
    <p> Here is your word</p>
    <p><%= word %> - <%= part %></p>
    <p><%= definition %></p>
</body>
</html>